%message {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
}

.success {
    @extend %message;
    background-color: indigo;
}

.warning {
    @extend %message;
    background-color: #00ff00;
}

.error {
    @extend %message;
    background-color: crimson;
}
