
$color : green;
table{
        border: 3px solid black;
        border-collapse: collapse;
        text-align: center;
        width:100%;
        color:$color;
      }
th,td{
        border: 1px solid black;
        padding: 10px;
        background: #ffff99;
        color:$color;

      }
th{
    background: #ffccff;
    color:$color;
  }
  h1{
    text-align:center;
  }
div{
    margin:30px
}
